<button mat-flat-button [matMenuTriggerFor]="menu" class="w-100 p-2 left-button">
  <!-- <img src="../../assets/images/profile-picture.jpg" class="profile" />
  <span class="mx-2">{{username}}</span> -->
  <span class="mx-2">{{username}} <mat-icon>person</mat-icon></span>
</button>
<mat-menu #menu="matMenu" xPosition="before">
  <!-- <button mat-menu-item (click)="profile()">
    <mat-icon>person</mat-icon>
    <span>My Profile</span>
  </button> -->
  <button mat-menu-item (click)="logout()">
    <mat-icon>power_settings_new</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>