<mat-card>
    <mat-card-header class="mat-card-header-page">
        <mat-card-title class="mat-card-title-page pt-3">
            {{pageState}} Asset Registration
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="mat-card-content-page p-1">
        <form [formGroup]="assetMappingForm" class="popupform" *ngIf="formPrepared">
            <div class="blockwrap">
                <div class="row">
                    <mat-form-field class="col-6" appearance="outline">
                        <mat-label>Asset Code</mat-label>
                        <input matInput (change)="removeWhiteSpaces(assetMappingForm.controls.assetCode)"
                            placeholder="Asset Code" formControlName="assetCode" />
                        <mat-error *ngIf="assetMappingForm.controls.assetCode.invalid">
                            Please enter valid asset Code.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-6" appearance="outline">
                        <mat-label>Asset Description</mat-label>
                        <input matInput (change)="removeWhiteSpaces(assetMappingForm.controls.assetDescription)"
                            placeholder="Description" formControlName="assetDescription" />
                        <mat-error *ngIf="assetMappingForm.controls.assetDescription.invalid">
                            Please enter valid Description.
                        </mat-error>
                    </mat-form-field>
                </div>

            </div>
        </form>
    </mat-card-content>
    <mat-card-footer>
        <div class="col-md-12 float-right popup-footer" *ngIf="formPrepared">
            <button type="submit" color="primary" (click)="onSubmit(assetMappingForm.value)" mat-raised-button
                [disabled]="!assetMappingForm.valid" class="col-md-2 btn-theme  popup-footer-btn">
                {{pageState}}
            </button>
            <button mat-button (click)="closePopup()" class="btn col-md-2 popup-footer-btn">Cancel</button>
        </div>
    </mat-card-footer>
</mat-card>