:root {
  --color-primary: #ff6200;
  --color-secondary: #333;
  --color-warn: #f51338;
  --color-white: #ffffff;
  --color-light: #f1f1f1;
  --color-black: #000000;
  --color-gray: #696c69;
  --color-green: #293324;
  --color-background: #f4f7fa;
}
