<div class="row">
    <div class="col-12">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Recent Trips
                </mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
                <mat-list role="list">
                    <mat-list-item role="listitem" class="recent-trip-list-item" *ngFor="let trip of trips">
                        <div class="row col-12">
                            <div class="col-1">
                                <img src="../../../assets/images/truck.png" style="width: 100%;" />
                            </div>
                            <div class="col-5 px-5">
                                <div>{{ trip.dumperId }}</div>
                                <div>{{ trip.loadingAt }} - {{ trip.unloadingAt }}</div>
                            </div>
                            <div class="col-4 p-2">
                                <mat-icon color="primary" class="fs-15 py-2">circle</mat-icon>{{ trip.endTime |
                                date:'dd MMM, YYYY':'UTC'  }}
                            </div>
                            <div class="col-2 py-1">
                                <a mat-button (click)="viewTripDetails(trip)" class="recent-trip-button">
                                    View Details
                                </a>
                            </div>
                        </div>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>